<p>product-details works!</p>

<div style="width: 400px; margin: auto;">
    <div *ngIf="currentProduct" class="edit-form">
    <h4>Update Product</h4>
    <form>
        <div class="form-group">
            <label for="product_name">Product Name</label>
            <input
            type="text"
            class="form-control"
            id="product_name"
            [(ngModel)]="currentProduct.product_name"
            name="product_name"
            />
        </div>

        <div class="form-group">
            <label for="brand_name">Brand Name</label>
            <input
            type="text"
            class="form-control"
            id="brand_name"
            [(ngModel)]="currentProduct.brand_name"
            name="brand_name"
            />
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input
                type="text"
                class="form-control"
                id="price"
                [(ngModel)]="currentProduct.price"
                name="price"
            />
        </div>

        <div class="form-group">
          <label for="product_color">Product Color</label>
          <input
              type="text"
              class="form-control"
              id="product_color"
              [(ngModel)]="currentProduct.product_color"
              name="product_color"
          />
      </div>

        <div class="form-group">
            <label for="storage">Storage</label>
            <input
                type="text"
                class="form-control"
                id="storage"
                [(ngModel)]="currentProduct.storage"
                name="storage"
            />
        </div>

        <div class="form-group">
            <label for="product_description">Product Description</label>
            <input
                type="text"
                class="form-control"
                id="product_description"
                [(ngModel)]="currentProduct.product_description"
                name="product_description"
            />
        </div>

        <div class="form-group">
            <label><strong>Status:</strong></label>
            {{ currentProduct.published ? "Published" : "Pending" }}
        </div>
    </form>

      <button
        class="badge badge-primary mr-2"
        *ngIf="currentProduct.published"
        (click)="updatePublished(false)"
      > 
         UnPublish
      </button>
      <button
        *ngIf="!currentProduct.published"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      > 
        Publish
      </button>
      <button class="badge badge-danger mr-2" (click)="deleteProduct()">
        Delete
      </button>
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateProduct()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentProduct">
      <br />
      <p>This Product Cannot Be Accessed...</p>
    </div>
  </div>

  <!-- <form [formGroup] = "productForm" (ngSubmit)="onFormSubmit()">
    <input formControlName="name" />
    <label *ngIf="productName.invalid" [ngClass] = "'error'"> Name is required. </label>
    
    <input formControlName="age" />
    <label *ngIf="brandName.invalid" [ngClass] = "'error'"> Age is required. </label>
    
    <input formControlName="college" />
    <label *ngIf="price.invalid" [ngClass] = "'error'"> College is required. </label>
    <div>
      <button type="submit">Send</button>
    </div>
  </form> -->