<!-- <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
            <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
            <mat-form-field>
            <input matInput placeholder="Username" formControlName="user_name"> 
            </mat-form-field>
        
            <mat-form-field>
                <input matInput type="password" placeholder="Password"  formControlName="pass_word">
            </mat-form-field>
            <button mat-button type="submit">Login</button>
        </form>
    </mat-card>
    </div> -->

<!-- Page Content -->
<div class="container">
    <div class="row">
       <div class="col-lg-12 text-center" style="padding-top: 20px;">
          <div class="container box" style="margin-top: 10px; padding-left: 0px; padding-right: 0px;">
             <div class="row">
                <div class="col-12" style="text-align: center;">
                                     <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" 
                                           class="form-signin">
                                     <h2 class="form-signin-heading">Sign In!</h2>
                                     <label for="inputEmail" class="sr-only">Username</label>
                                     <input type="text" id="username" class="form-control" 
                                           formControlName="userName" placeholder="Username" required autofocus>
                                     <label for="inputPassword" class="sr-only">Password</label>
                                     <input type="password" id="inputPassword" class="form-control" 
                                           formControlName="password" placeholder="Password" required>
                                     <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                                     <br>
                                     <a href="http://localhost:4200/register">  
                                        <button class="btn btn-secondary btn-block" type="button">Create User</button>
                                    </a>
                                     </form>
                                    
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>