<div>
  <nav class="navbar navbar-expand navbar-dark" style="background-color: red;">
    <a href="#" class="navbar-brand">RadioShack</a>
    <div class="navbar-nav mr-auto">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a routerLink="products" class="nav-link">Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="addproducts" class="nav-link">Add Product</a>
      </li>
      
      <li class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li>

      <li class="nav-item">
        <a routerLink="cart" class="nav-link">Cart</a>
      </li>
    </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" style="background-color: black;" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>